@font-face {
  font-family: hansansBold;
  src: url('../fonts/SourceHanSansCN-Bold.otf')
}
@font-face {
  font-family: hansansMed;
  src: url('../fonts/SourceHanSansCN-Medium.otf')
}
@font-face {
  font-family: hansansReg;
  src: url('../fonts/SourceHanSansCN-Regular.otf')
}
@font-face {
  font-family: hansansNor;
  src: url('../fonts/SourceHanSansCN-Normal.otf')
}